*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
src_c/tracking_run_py.c
src_c/ptv1.c
src_c/tracking_framebuf.c



pyptv_gui/test/parameters_test
pyptv_gui/test/testing_fodder/scene83_event1
pyptv_gui/test/testing_fodder/res/rt_is.497
pyptv_gui/test/testing_fodder/res/rt_is.498
pyptv_gui/test/testing_fodder/res/rt_is.499
pyptv_gui/test/testing_fodder/res/rt_is.500
pyptv_gui/test/testing_fodder/res/rt_is.501
pyptv_gui/test/testing_fodder/res/rt_is.502
pyptv_gui/test/testing_fodder/res/rt_is.503
pyptv_gui/test/testing_fodder/res/rt_is.504
pyptv_gui/test/testing_fodder/res/rt_is.505
pyptv_gui/test/testing_fodder/res/rt_is.506
pyptv_gui/test/testing_fodder/res/rt_is.507
pyptv_gui/test/testing_fodder/res/rt_is.508
pyptv_gui/test/testing_fodder/res/rt_is.509
pyptv_gui/test/testing_fodder/res/rt_is.510
pyptv_gui/test/testing_fodder/res/rt_is.511
pyptv_gui/test/testing_fodder/res/rt_is.512
pyptv_gui/test/testing_fodder/res/rt_is.513
pyptv_gui/test/testing_fodder/res/rt_is.514
pyptv_gui/test/testing_fodder/res/rt_is.515
pyptv_gui/test/testing_fodder/res/rt_is.516
pyptv_gui/test/testing_fodder/res/rt_is.517
pyptv_gui/test/testing_fodder/res/rt_is.518
pyptv_gui/test/testing_fodder/res/rt_is.519
pyptv_gui/test/testing_fodder/res/rt_is.520
pyptv_gui/test/testing_fodder/res/rt_is.521
pyptv_gui/test/testing_fodder/res/rt_is.522
pyptv_gui/test/testing_fodder/res/rt_is.523
pyptv_gui/test/testing_fodder/res/rt_is.524
pyptv_gui/test/testing_fodder/res/rt_is.525
pyptv_gui/test/testing_fodder/res/rt_is.526
pyptv_gui/test/testing_fodder/res/rt_is.527
pyptv_gui/test/testing_fodder/res/rt_is.528
pyptv_gui/test/testing_fodder/res/rt_is.529
pyptv_gui/test/testing_fodder/res/rt_is.530
pyptv_gui/test/testing_fodder/res/rt_is.531
pyptv_gui/test/testing_fodder/res/rt_is.532
pyptv_gui/test/testing_fodder/res/rt_is.533
pyptv_gui/test/testing_fodder/res/rt_is.534
pyptv_gui/test/testing_fodder/res/rt_is.535
pyptv_gui/test/testing_fodder/res/rt_is.536
pyptv_gui/test/testing_fodder/res/rt_is.537
pyptv_gui/test/testing_fodder/res/rt_is.538
pyptv_gui/test/testing_fodder/res/rt_is.539
pyptv_gui/test/testing_fodder/res/rt_is.540
pyptv_gui/test/testing_fodder/res/rt_is.541
pyptv_gui/test/testing_fodder/res/rt_is.542
pyptv_gui/test/testing_fodder/res/rt_is.543
pyptv_gui/test/testing_fodder/res/rt_is.544
pyptv_gui/test/testing_fodder/res/rt_is.545
pyptv_gui/test/testing_fodder/res/rt_is.546
pyptv_gui/test/testing_fodder/res/rt_is.547
pyptv_gui/test/testing_fodder/res/rt_is.548
pyptv_gui/test/testing_fodder/res/rt_is.549
pyptv_gui/test/testing_fodder/res/rt_is.550
pyptv_gui/test/testing_fodder/res/rt_is.551
pyptv_gui/test/testing_fodder/res/rt_is.552
pyptv_gui/test/testing_fodder/res/rt_is.553
pyptv_gui/test/testing_fodder/res/rt_is.554
